.header {
	background: $gray-800;
	margin-bottom: 40px 0 35px;
	padding: 20px 0;
	margin-bottom: 40px;

	&__logo {
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		};
	}

	&__inner {
		 @extend .container;
	}

	&__logo-tagling {
		color: $gray-400;
		font-size: .85rem;
		font-style: italic;
		font-weight: 100;
		margin: 0;
	}
}

.footer {
	margin-top: 40px;
	background: $gray-100;
	
	&__inner {
		padding: 20px 0;
		text-align: right;
		@extend .container;
	}

	p {
		font-size: 0.75em;
		margin: 0;
	}
}